version: '3.8'

services:
  aws-exam-app:
    image: mcurvay/aws-examdump-app:latest
    container_name: aws-exam-app
    ports:
      - "8080:80"
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "wget", "--quiet", "--tries=1", "--spider", "http://localhost/health"]
      interval: 30s
      timeout: 3s
      retries: 3
      start_period: 5s

